In [1]:
import pandas as pd

In [2]:
cyclists_data = pd.read_csv("dataset/cyclists.csv",index_col=0)
races_data = pd.read_csv("dataset/races.csv",index_col=0)
cyclists_data.head()

,name,birth_year,weight,height,nationality
_url,,,,,
bruno-surra,Bruno Surra,1964.0,NaN,NaN,Italy
gerard-rue,Gérard Rué,1965.0,74.0,182.0,France
jan-maas,Jan Maas,1996.0,69.0,189.0,Netherlands
nathan-van-hooydonck,Nathan Van Hooydonck,1995.0,78.0,192.0,Belgium
jose-felix-parra,José Félix Parra,1997.0,55.0,171.0,Spain

In [3]:
races_data.head()

,name,points,uci_points,length,climb_total,profile,startlist_quality,average_temperature,date,position,cyclist,cyclist_age,is_tarmac,is_cobbled,is_gravel,cyclist_team,delta
_url,,,,,,,,,,,,,,,,,
tour-de-france/1978/stage-6,Tour de France,100.0,NaN,162000.0,1101.0,1.0,1241,NaN,1978-07-05 04:02:24,0,sean-kelly,22.0,True,False,False,vini-ricordi-pinarello-sidermec-1986,0.0
tour-de-france/1978/stage-6,Tour de France,100.0,NaN,162000.0,1101.0,1.0,1241,NaN,1978-07-05 04:02:24,1,gerrie-knetemann,27.0,True,False,False,norway-1987,0.0
tour-de-france/1978/stage-6,Tour de France,100.0,NaN,162000.0,1101.0,1.0,1241,NaN,1978-07-05 04:02:24,2,rene-bittinger,24.0,True,False,False,NaN,0.0
tour-de-france/1978/stage-6,Tour de France,100.0,NaN,162000.0,1101.0,1.0,1241,NaN,1978-07-05 04:02:24,3,joseph-bruyere,30.0,True,False,False,navigare-blue-storm-1993,0.0
tour-de-france/1978/stage-6,Tour de France,100.0,NaN,162000.0,1101.0,1.0,1241,NaN,1978-07-05 04:02:24,4,sven-ake-nilsson,27.0,True,False,False,spain-1991,0.0

In [4]:
# Always: is_tarmac= true, is_cobbled=False, is_gravel=False
races_data = races_data.drop(columns=['is_tarmac', 'is_cobbled', 'is_gravel'])

In [5]:
cyclists_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6134 entries, bruno-surra to ward-vanhoof
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         6134 non-null   object
 1   birth_year   6121 non-null   float64
 2   weight       3078 non-null   float64
 3   height       3143 non-null   float64
 4   nationality  6133 non-null   object
dtypes: float64(3), object(2)
memory usage: 287.5+ KB

In [6]:
# We dont need name with id
cyclists_data = cyclists_data.drop(columns=['name'])

In [7]:
# Checkimg (and removing if there were any) duplicates in both datasets
duplicated_races = races_data[races_data.duplicated(keep=False)]
print(duplicated_races.shape)

duplicated_cyclists = cyclists_data[cyclists_data.duplicated(keep=False)]
print(duplicated_cyclists.shape)

(0, 14)
(2730, 4)

In [8]:
print(cyclists_data.shape)
print("Number of null in cyclists dataset")
print("----------------------------------")
print(cyclists_data.isnull().sum(),'\n')

print("Percentage of null in cyclists dataset")
print("----------------------------------")
print(round(cyclists_data.isnull().sum()*100/cyclists_data.shape[0],2).astype(str) + '%')

(6134, 4)
Number of null in cyclists dataset
----------------------------------
birth_year       13
weight         3056
height         2991
nationality       1
dtype: int64

Percentage of null in cyclists dataset
----------------------------------
birth_year      0.21%
weight         49.82%
height         48.76%
nationality     0.02%
dtype: object